<?xml version="1.0" encoding="UTF-8"?>
<service id="messaging-app-im-irc">
  <type>messaging-app-im</type>
  <name>IRC</name>
  <icon>irc</icon>
  <provider>irc</provider>

  <!-- default settings (account settings have precedence over these) -->
  <template>
    <group name="telepathy">
      <setting name="manager">idle</setting>
      <setting name="protocol">irc</setting>
    </group>
    <group name="auth">
      <setting name="method">password</setting>
      <setting name="mechanism">password</setting>
    </group>
  </template>
</service>
