[Desktop Entry]
Type=Application
Name=Messaging
Name[aa]=Farrim
Name[am]=መልእክቶች
Name[ar]=الرسائل
Name[ast]=Mensaxería
Name[be]=Абмен паведамленнямі
Name[br]=Kemennerezh
Name[bs]=Slanje poruka
Name[ca]=Missatgeria
Name[ca@valencia]=Missatgeria
Name[cs]=Zprávy
Name[cy]=Negesu
Name[da]=Beskeder
Name[de]=Nachrichten
Name[el]=Μηνύματα
Name[en_AU]=Messaging
Name[en_GB]=Messaging
Name[es]=Mensajería
Name[eu]=Mezularitza
Name[fa]=پیام‌رسانی
Name[fi]=Viestit
Name[fr]=Messages
Name[gd]=Teachdaireachdan
Name[gl]=Mensaxería
Name[hr]=Slanje poruka
Name[hu]=Üzenetek
Name[ia]=Messages
Name[id]=Perpesanan
Name[it]=Messaggi
Name[ja]=メッセージング
Name[km]=ការ​ផ្ញើ​សារ
Name[ko]=메시지 보내기
Name[lv]=Īsziņas
Name[ms]=Pemesejan
Name[nb]=Meldinger
Name[nl]=Berichten
Name[oc]=Messatges
Name[pa]=ਮੈਸੇਜ਼ਿੰਗ
Name[pl]=Wiadomości
Name[pt]=Mensagens
Name[pt_BR]=Mensagens
Name[ro]=Mesagerie
Name[ru]=Обмен сообщениями
Name[sk]=Správy
Name[sl]=Sporočanje
Name[sq]=Mesazhet
Name[sr]=Поруке
Name[sv]=Meddelanden
Name[tr]=Mesajlaşma
Name[ug]=ئۇچۇر يوللاۋاتىدۇ
Name[uk]=Обмін повідомленнями
Name[zh_CN]=信息
Name[zh_HK]=訊息
Name[zh_TW]=訊息
GenericName=Messaging App
GenericName[aa]=Farrim Abna
GenericName[am]=የ መልእክቶች መተግበሪያ
GenericName[ar]=تطبيق الرسائل
GenericName[ast]=Aplicación Mensaxería
GenericName[be]=Праграма для абмену паведамленнямі
GenericName[br]=Arload kemennerezh
GenericName[bs]=Aplikacija za slanje poruka
GenericName[ca]=Aplicació de missatgeria
GenericName[ca@valencia]=Aplicació de missatgeria
GenericName[cs]=Aplikace zpráv
GenericName[cy]=Ap Negeseuon
GenericName[da]=Beskedprogram
GenericName[de]=Nachrichtenanwendung
GenericName[el]=Εφαρμογή Μηνύματα
GenericName[en_AU]=Messaging App
GenericName[en_GB]=Messaging App
GenericName[es]=Aplicación Mensajería
GenericName[eu]=Mezularitza aplikazioa
GenericName[fa]=اپ پیام‌رسان
GenericName[fi]=Viestisovellus
GenericName[fr]=Application de messagerie
GenericName[gd]=Aplacaid nan teachdaireachdan
GenericName[gl]=Aplicativo de mensaxería
GenericName[hr]=Aplikacija za poruke
GenericName[hu]=Üzenetküldő alkalmazás
GenericName[ia]=Application de messages
GenericName[id]=App Perpesanan
GenericName[it]=App Messaggi
GenericName[ja]=メッセージアプリ
GenericName[ko]=메시지 프로그램
GenericName[lv]=Īsziņu lietotne
GenericName[ms]=Apl Pemesejan
GenericName[nb]=Meldingsprogram
GenericName[nl]=Berichtenapp
GenericName[oc]=Aplicacion de messatjariá
GenericName[pa]=ਮੈਸੇਜ਼ਿੰਗ ਐਪ
GenericName[pl]=Wiadomości
GenericName[pt]=App de mensagens
GenericName[pt_BR]=App de mensagens
GenericName[ro]=Aplicație pentru mesagerie
GenericName[ru]=Приложение для обмена сообщениями
GenericName[sk]=Aplikácia Správy
GenericName[sl]=Program za sporočanje
GenericName[sq]=Program Mesazhesh
GenericName[sr]=Програм за поруке
GenericName[sv]=Meddelandeprogram
GenericName[tr]=Mesajlaşma Uygulaması
GenericName[ug]=ئۇچۇر ئېپى
GenericName[uk]=Програма для обміну повідомленнями
GenericName[zh_CN]=短信应用
GenericName[zh_HK]=訊息程式
GenericName[zh_TW]=訊息程式
Comment=Messaging application
Comment[aa]=Farrim abnisso
Comment[am]=የ መልእክቶች መተግበሪያ
Comment[ar]=تطبيق الرسائل
Comment[ast]=Aplicación de mensaxería
Comment[be]=Праграма для абмену паведамленнямі
Comment[br]=Arload kemennerezh
Comment[bs]=Aplikacija za slanje poruka
Comment[ca]=Aplicació de missatgeria
Comment[ca@valencia]=Aplicació de missatgeria
Comment[cs]=Aplikace zpráv
Comment[cy]=Ap Negeseuon
Comment[da]=Program til modtagelse af beskeder
Comment[de]=Nachrichtenanwendung
Comment[el]=Εφαρμογή μηνυμάτων
Comment[en_AU]=Messaging application
Comment[en_GB]=Messaging application
Comment[es]=Aplicación Mensajería
Comment[eu]=Mezularitza aplikazioa
Comment[fa]=برنامه‌ی پیام‌رسان
Comment[fi]=Viestisovellus
Comment[fr]=Application de messagerie
Comment[gd]=Aplacaid nan teachdaireachdan
Comment[gl]=Aplicativo de mensaxería
Comment[hr]=Aplikacija za poruke
Comment[hu]=Üzenetküldő alkalmazás
Comment[ia]=Application de messages
Comment[id]=Aplikasi perpesanan
Comment[it]=Applicazione per messaggistica
Comment[ja]=メッセージアプリ
Comment[km]=កម្មវិធី​ផ្ញើ​សារ
Comment[ko]=메시지 프로그램
Comment[lv]=Īsziņu lietotne
Comment[ms]=Aplikasi pemesejan
Comment[nb]=Meldingsprogram
Comment[nl]=Berichtenapplicatie
Comment[oc]=Aplicacion de messatjariá
Comment[pa]=ਮੈਸੇਜ਼ਿੰਗ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Menedżer wiadomości
Comment[pt]=App de mensagens
Comment[pt_BR]=Aplicativo de mensagens
Comment[ro]=Aplicație pentru mesagerie
Comment[ru]=Приложение, позволяющее обмениваться сообщениями
Comment[sk]=Aplikácia Správy
Comment[sl]=Program za sporočanje
Comment[sq]=Program për mesazhe
Comment[sr]=Програм за поруке
Comment[sv]=Meddelandeprogram
Comment[tr]=Mesajlaşma uygulaması
Comment[ug]=ئۇچۇر پروگراممىسى
Comment[uk]=Програма для обміну повідомленнями
Comment[zh_CN]=短信应用程序
Comment[zh_HK]=訊息應用程式
Comment[zh_TW]=訊息應用程式
Keywords=Messages;SMS;MMS;Text Messages;Text
Keywords[aa]=Farmooma;SMS;MMS;Kawsenti Farmooma; Kawsenta
Keywords[am]=መልእክቶች: ኤስ ኤም ኤስ: ኤም ኤም ኤስ: የ ጽሁፍ መልእክቶች: ጽሁፍ
Keywords[ar]=الرسائل;رسائل;الرسالة;رسالة;رسالة نصية;رسالة وسائط;نصية;نص
Keywords[ast]=Mensaxes;SMS;MMS;Mensaxes de testu;Testu
Keywords[be]=Паведамленні;SMS;MMS;Тэкставыя паведамленні;Тэкст
Keywords[br]=Kemennadennoù;SMS;MMS;Kemennadenn-destenn;Testenn
Keywords[bs]=Poruke;SMS;MMS;Tekstualne poruke;Tekst
Keywords[ca]=Missatges;missatgeria;SMS;MMS;missatge de text;text
Keywords[ca@valencia]=Missatges;missatgeria;SMS;MMS;missatge de text;text
Keywords[cs]=Zprávy;SMS;MMS;Textové Zprávy;Text
Keywords[cy]=Negeseuon;SMS;MMS;Negeseuon Testun;Testun
Keywords[da]=Beskeder;SMS;MMS;Tekst beskeder;Tekst
Keywords[de]=Nachrichten;SMS;MMS;Textnachrichten;Text
Keywords[el]=Μηνύματα;SMS;MMS;Μηνύματα κειμένου;Κείμενο
Keywords[en_AU]=Messages;SMS;MMS;Text Messages;Text
Keywords[en_GB]=Messages;SMS;MMS;Text Messages;Text
Keywords[es]=Mensajes;SMS;MMS;Mensajes de texto;Texto
Keywords[eu]=Mezuak;SMSak;MMSak;Testu-mezuak;Testua
Keywords[fa]=پیام‌ها;پیامک;MMS;پیام متنی;متن
Keywords[fi]=Messages;SMS;MMS;Text Messages;Text;Viestit;tekstiviestit;tekstarit;multimediaviestit
Keywords[fr]=Messages;SMS;MMS;Messages texte;Texto
Keywords[gd]=Messages;SMS;MMS;Text Messages;Text;Teachdaireachdan;Teacsa;Teacsaichean
Keywords[gl]=Mensaxes;SMS;MMS;Mensaxes de texto;Texto
Keywords[hr]=Poruke;SMS;MMS;Tekstovne poruke;Tekst
Keywords[hu]=Üzenetek;SMS;MMS;Szöveges üzenet;Szöveg
Keywords[ia]=Messages;SMS;MMS;Messages de texto;Texto
Keywords[id]=Pesan;SMS;MMS;Pesan Teks;Teks
Keywords[it]=Messaggi;SMS;MMS;Messaggio di testo;Testo
Keywords[ja]=Messages;SMS;MMS;Text Messages;Text;メッセージ;テキスト;チャット
Keywords[ko]=Messages;메시지;SMS;단문 메시지;MM;멀티 메시지S;Text Messages;텍스트 메시지;Text;텍스트
Keywords[lv]=Īsziņas;SMS;MMS;Teksta īsziņas;Teksts
Keywords[ms]=Mesej;SMS;MMS;Mesej Teks;Teks
Keywords[nb]=Meldinger;SMS;MMS;Tekstmeldinger;Tekst
Keywords[nl]=Messages;SMS;MMS;Text Messages;Text;Berichten;Tekstberichten;Tekst
Keywords[oc]=Messatges;SMS;MMS;Messatges tèxte;Texto
Keywords[pa]=ਸੁਨੇਹੇ;SMS;MMS;ਟੈਕਸਟ ਸੁਨੇਹੇ;ਟੈਕਸਟ
Keywords[pl]=Wiadomości;SMS;MMS;Wiadomość tekstowa;Tekst
Keywords[pt]=Mensagens;SMS;MMS;Mensagens de texto;Texto
Keywords[pt_BR]=Mensagens;SMS;MMS;Mensagens de texto;Texto
Keywords[ro]=Mesaje;SMS;MMS;Mesaje text;Text
Keywords[ru]=Сообщения;SMS;MMS;Текстовые сообщения;Текст
Keywords[sk]=Správy;SMS;MMS;Textová správa;Text
Keywords[sl]=Sporočila;SMS;MMS;Besedilna sporočila;Besedilo
Keywords[sr]=поруке;СМС;ММС;текстуалне поруке;текст
Keywords[sv]=Meddelanden;SMS;MMS;Textmeddelanden;Text
Keywords[tr]=İletiler;SMS;MMS;Metin İletileri;Metin
Keywords[ug]=ئۇچۇر;SMS;MMS;تېكىست;تېكىست ئۇچۇرى
Keywords[uk]=Messages;SMS;MMS;Text Messages;Text;повідомлення;смс;есемес;ммс;емемес;текстові повідомлення;текст
Keywords[zh_CN]=短信；彩信；文字短信；信息；
Keywords[zh_TW]=Messages;SMS;MMS;Text Messages;Text
Exec=messaging-app %u
Terminal=false
Icon=/snap/messaging-app/current/usr/share/messaging-app/assets/messaging-app.png
MimeType=x-scheme-handler/contact;x-scheme-handler/call
X-Ubuntu-Touch=true
X-Ubuntu-Default-Department-ID=accessories
X-Ubuntu-Single-Instance=true
X-Ubuntu-Splash-Show-Header=true
X-Screenshot=/snap/messaging-app/current/usr/share/messaging-app/assets/messaging-app-screenshot.png
