[Desktop Entry]
Name=Messaging
GenericName=Messaging App
Comment=Messaging application
Keywords=Messages;SMS;MMS;Text Messages;Text
Exec=usr/local/bin/messaging-app %u
Icon=usr/local/share/messaging-app/assets/messaging-app.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
